{% extends 'base.html' %}
{% load static %}
{% block title %} CONTACT - ME {% endblock %}

{% block content %}

{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>Message</strong> {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
    <section class="contact" id="contact">
        <h1 class="heading">contact <span> me </span></h1>
        <div class="icons-container">
            <div class="icons">
                <i class="fas fa-envelope"></i>
                <h3>my email</h3>
                <p>suryapratapsingh3802@gmail.com</p>
            </div>
            <div class="icons">
                <i class="fas fa-phone"></i>
                <h3>my number</h3>
                <p>+91- 8955383802</p>
            </div>

            <div class="icons">
                <i class="fas fa-map-marker-alt"></i>
                <h3>my address</h3>
                <p>jaipur, rajsthan - 302012</p>
            </div>
        </div>


        <div class="row">
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="name" id="name" class="box" placeholder="name" required>
                <input type="email" name="email" id="email" class="box" placeholder="email" required>
                <input type="number" name="number" id="number" class="box" placeholder="number" required>

                <textarea name="message" id="message" cols="30" rows="10" class=""></textarea>
                <input type="submit"  value="send message" class="btn">
               
            </form>

            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7111.690887267121!2d75.74992432429259!3d26.9717933442914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db2f9eadd8b57%3A0xf78869acd6ce5fe7!2sDadi%20Ka%20Phatak%2C%20Murlipura%2C%20Jaipur%2C%20Rajasthan%20302032!5e0!3m2!1sen!2sin!4v1632913195700!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>

 <!-- footer section -->
 <footer class="footer">create by <span> mr. Suryapratap Singh </span> || all right reserved! </footer>

{% endblock %}
