{% extends 'base.html' %}
{% load static %}
{% block title %} EXPERIENCE {% endblock %}

{% block content %}

<section class="experience" id="experience">
    <h1 class="heading"><span>my </span> experience</h1>
    <div class="box-container">
        <div class="box">
            <div class="content">
                <span>2020 - 2021</span>
                <h3>web - designing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sapiente assumenda perferendis necessitatibus sint rerum officia quidem. </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <span>2020 - 2021</span>
                <h3>web - development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sapiente assumenda perferendis necessitatibus sint rerum officia quidem. </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <span>2020 - 2021</span>
                <h3>salesforce</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sapiente assumenda perferendis necessitatibus sint rerum officia quidem. </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <span>2020 - 2021</span>
                <h3>flutter</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sapiente assumenda perferendis necessitatibus sint rerum officia quidem. </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <span>2020 - 2021</span>
                <h3>database</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sapiente assumenda perferendis necessitatibus sint rerum officia quidem. </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <span>2020 - 2021</span>
                <h3>java(core)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sapiente assumenda perferendis necessitatibus sint rerum officia quidem. </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <span>2020 - 2021</span>
                <h3>html + css + bootstrap</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sapiente assumenda perferendis necessitatibus sint rerum officia quidem. </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <span>2020 - 2021</span>
                <h3>javascript</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sapiente assumenda perferendis necessitatibus sint rerum officia quidem. </p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <span>2020 - 2021</span>
                <h3>python(django)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sapiente assumenda perferendis necessitatibus sint rerum officia quidem. </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}