{% extends 'base.html' %}
{% load static %}
{% block title %} ABOUT {% endblock %}

{% block content %}

    <section class="service" id="service">
        <div class="box-container">
            <div class="box">
                <i class="fas fa-code"></i>
                <h3>web design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, harum.</p>
            </div>

            <div class="box">
                <i class="fas fa-paint-brush"></i>
                <h3>graphic design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, harum.</p>
            </div>

            <div class="box">
                <i class="fab fa-intercom"></i>
                <h3>interior tempates</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, harum.</p>
            </div>

            
            <div class="box">
                <i class="fas fa-pen"></i>
                <h3>content writing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, harum.</p>
            </div>

            <div class="box">
                <i class="fas fa-layer-group"></i>
                <h3>static & dynamic layout</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, harum.</p>
            </div>

            <div class="box">
                <i class="fas fa-bring-front"></i>
                <h3>front-end development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, harum.</p>
            </div>

            <div class="box">
                <i class="fas fa-bring-front"></i>
                <h3>back-end development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, harum.</p>
            </div>

            <div class="box">
                <i class="fas fa-database"></i>
                <h3>databse</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, harum.</p>
            </div>
        </div>
    </section>

{% endblock %}